.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--white);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content:last baseline;
}
.header .logo{
  font-size: 2.5 rem;
  padding-left: 100px;
  /* color: var(--black); */
}
*{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar a{
font-size: 2rem;
margin-left: 2rem;
color: var(--black);


}
#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

p.one {
  background-color: rgb(229, 35, 35);
  opacity: 0.6;
color: blue;}
  p.two {
  background-color: rgba(168, 59, 168, 0.5);
opacity: 0.6;
color: brown;
vertical-align:middle;
}








